<!DOCTYPE html>
<html>
  <head>
    <title>Fortune of the Day</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div id="fortune" class="section">
      <h1>Your Fortune</h1>
      <div id="message-container">
        <img src="{{ url_for('static', filename='fortune.jpg') }}" />
        <div id="message"></div>
        <img src="{{ url_for('static', filename='fortune.jpg') }}" />
      </div>
      <button id="reroll">Reroll</button>
    </div>
    <div id="suggestion" class="section">
      <h1>Want to Suggest Your Own Fortune?</h1>
      <form id="suggestion-form">
        <input
          type="text"
          id="message-field"
          placeholder="Enter your fortune here..."
        />
        <button type="submit">Submit</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}" type="module"></script>
  </body>  
</html>
